

mixin box-header(title, icon, actions)
    - icon = icon || false;
    - title = title || false;
    - actions = actions || false;
    - var actionsClass = (typeof actions == 'string' ? actions : '');
    header&attributes(attributes)
        if icon
            i(class="fa fa-" + icon)
        h3= title
        if actions
            .actions(class=actionsClass)
                block
        else
            block

mixin box-body(scrollerHeight)
    - scrollerHeight = scrollerHeight || false;
    if scrollerHeight
        - var style = 'height: ' + scrollerHeight + 'px;'
        section(style=style).scrollable&attributes(attributes)
            block
    else
        section&attributes(attributes)
            block



mixin box(title, icon, scrollerHeight, boxClasses)
    - icon = icon || false;
    - title = title || false;
    - boxClasses = boxClasses || '';
    if title
        .box.box-style-light(class=boxClasses)
            header
                if icon
                    i(class="fa fa-" + icon)
                h3= title
            +box-body(scrollerHeight)&attributes(attributes)
                block
    else
        .box.box-style-light&attributes(attributes)
            block
