
mixin search-form(action, method, inputName)
    form.search-form(action=action, method=method)&attributes(attributes)
        .input-group
            input.form-control(type='text', placeholder='Search...', name=inputName)
            span.input-group-btn
                a.btn.submit(href='javascript:;')
                    i.fa.fa-search

mixin pc-alert(title, icon)
    - _addClassAttribute('info', 'alert-info', attributes)
    - _addClassAttribute('success', 'alert-success', attributes)
    - _addClassAttribute('warning', 'alert-warning', attributes)
    - _addClassAttribute('danger', 'alert-danger', attributes)
    - _addClassAttribute('error', 'alert-danger', attributes)
    - _addClassAttribute('dismissable', 'alert-dismissable', attributes)
    div.alert&attributes(attributes)
        if _hasClassAttribute('dismissable', attributes)
            button(type="button", class="close", data-dismiss="alert", aria-label="Close"): span(aria-hidden="true") &times;
        if icon
            i(class='fa fa-' + icon)
            | &nbsp;
        if title
            strong !{title} &nbsp;
        block

mixin progressbar(min, max, val, textDisplay, format)
    - if(textDisplay){
    -   attributes['data-bar-text-display'] = textDisplay;
    - }
    - if(format) {
    -   attributes['data-bar-text-format'] = format;
    - }
    -     if (attributes.primary) {
    -         _addClassAttribute('primary', 'progress-bar-primary', attributes)
    -     } else if (attributes.success) {
    -         _addClassAttribute('success', 'progress-bar-success', attributes)
    -     } else if (attributes.info) {
    -         _addClassAttribute('info', 'progress-bar-info', attributes)
    -     } else if (attributes.warning) {
    -         _addClassAttribute('warning', 'progress-bar-warning', attributes)
    -     } else if (attributes.danger) {
    -         _addClassAttribute('danger', 'progress-bar-danger', attributes)
    -     }
    - _addClassAttribute('striped', 'progress-bar-striped', attributes)
    - _addClassAttribute('active', 'active', attributes)
    .progress
        .progress-bar(role='progressbar', aria-valuemin=min, aria-valuemax=max, data-bar-value=val)&attributes(attributes)
