- var currentPath = location.pathname
mixin sidebar-item(item, top_index, level)
    - item.href = item.href || 'javascript:;';
    - level++;
    - var liClass = (item.href == currentPath ? 'active' : '');
    - liClass = (top_index == 0 ? liClass + ' start' : liClass)
    li(class=liClass)
        a(href=item.href, class=(item.icon ? '' : 'no-icon'))
            if item.icon
                i(class=item.icon)

            if item.children
                span.title= item.name
                span.arrow
            else
                span.title= item.name


        if item.children
            ul.sub-menu(data-level=level)
                each child, index in item.children
                    +sidebar-item(child, level)


// now loop over the items and call the mixin for each
each item, index in items
    +sidebar-item(item, index, 0)
