extends ../../../layouts/default

mixin form-box(name, icon)
    .row
        .col-lg-12
            +box(name, icon)
                form&attributes(attributes)
                    block

mixin form-light-line(large)
    - large = typeof(large) == 'undefined' ? true : large
    .form-group-seperator(class=large ? 'line-lg' : '')

mixin demo-label(forr, required)
    label(for=forr).col-sm-3.control-label
        block
        if required
            span.required  *


mixin form-horizontal-demo-content(rnd, validation)
    - rnd = rnd || ''
    .form-group
        +demo-label(rnd + "email", validation) Email
        .col-sm-9
            input.form-control(id=rnd + "email",name='email',type='email', placeholder='Email', data-rules='required|email', data-hint='Enter a valid email address')&attributes(attributes)
    +form-light-line
    .form-group
        +demo-label(rnd + 'password', validation) Password
        .col-sm-9
            input.form-control(id=rnd + "password",name='password',type='password', placeholder='Password', data-rules='required|minlength:5|maxlength:30', data-hint='Enter a password that is safe')&attributes(attributes)
    +form-light-line
    .form-group
        +demo-label(rnd + 'first-name', validation) First name
        .col-sm-9
            input.form-control(id=rnd + "first-name",name='first-name', type='text', placeholder='First name', data-rules='minlength:2', data-hint="a")&attributes(attributes)
    +form-light-line
    .form-group
        +demo-label(rnd + 'last-name', validation) Last name
        .col-sm-9
            input.form-control(id=rnd + "last-name", name='last-name', type='text', data-rules='minlength:2', placeholder='Last name')&attributes(attributes)
    +form-light-line
    .form-group
        label(for=rnd + "input-groups").col-sm-3.control-label Input groups
        .col-sm-9
            .input-group.mb
                span.input-group-addon $
                input.form-control(id=rnd + "input-groups",name="input-groups", data-rules='required|number', type='number', placeholder='Enter an amount')&attributes(attributes)
            .input-group.mb
                span.input-group-addon.pl-sm.pr-sm
                    input(type="checkbox", value="None", id="input-group-check1" name="input-group-check1", checked)
                input.form-control(id=rnd + "input-groups2",type='text', placeholder='With checkbox')&attributes(attributes)
            .input-group.mb
                span.input-group-addon.pl-sm.pr-sm
                    input(type="radio", value="None", id="input-group-radio1" name="input-group-radio1[]", checked)
                input.form-control(id=rnd + "input-groups3",type='text', placeholder='With radio')&attributes(attributes)
            .input-group.mb
                span.input-group-addon.pl-sm.pr-sm
                    input(type="radio", value="None", id="input-group-radio1" name="input-group-radio1[]")
                input.form-control(id=rnd + "input-groups4",type='text', placeholder='With radio')&attributes(attributes)
            .input-group.mb
                span.input-group-btn
                    button.btn.btn-default Clicky
                input.form-control(id=rnd + "input-groups5",type='text', placeholder='With button')&attributes(attributes)


    +form-light-line
    .form-group
        label.col-sm-3.control-label CSS3 Checkboxes
        .col-sm-9
            .row
                .col-md-6
                    input(type="checkbox", value="None", id="checktest1" name="check", checked)
                    label(for='checktest1') Check
                    +form-light-line(false)
                    input(type="checkbox", value="None", id="checktest2" name="check", checked)
                    label(for='checktest2') Check
                    +form-light-line(false)
                    input(type="checkbox", value="None", id="checktest3" name="check", checked, disabled)
                    label(for='checktest3') Check
                .col-md-6
                    input(type="radio", value="None", id="radiotest1" name="radio[]")
                    label(for='radiotest1') First one for you
                    +form-light-line(false)
                    input(type="radio", value="None", id="radiotest2" name="radio[]")
                    label(for='radiotest2') Rather have the second for me
                    +form-light-line(false)
                    input(type="radio", value="None", id="radiotest3" name="radio[]")
                    label(for='radiotest3') Or keep the rest
    +form-light-line
    // SWITCHES
    .form-group
        label.col-sm-3.control-label(for='inputEmail3') Switches
        .col-sm-9
            input(type='checkbox', data-size="small", data-on-color="warning",  checked).switch
            input(type='checkbox', data-size="small").switch
            input(type='checkbox', data-size="small", data-on-color="info",  checked).switch
            input(type='checkbox', data-size="small").switch
    +form-light-line
    .form-group
        label.col-sm-3.control-label(for='inputEmail3') Alterered switches
        .col-sm-9.mid-padding-top.mid-padding-bottom
            input(type='checkbox', data-size="mini", data-on-color="danger", data-on-text="Yes", data-off-text="Ohhhh", checked).switch
            input(type='checkbox', data-size="mini", data-off-text=":(").switch
            input(type='checkbox', data-size="mini", data-off-text="YAY",  data-on-color="success",  checked).switch
            input(type='checkbox', data-size="mini", data-off-text="NO").switch
    // SELECT 2
    +form-light-line
    .form-group
        label.col-sm-3.control-label Select2
        .col-sm-9
            select.form-control.select2
                option(value='default') Default
                option(value='agent') Agent
                option(value='aristo') Aristo
                option(value='jeans') Jeans
    +form-light-line
    .form-group
        label.col-sm-3.control-label Tags
        .col-sm-9
            input(name="test").form-control.form-demo-select2-tags
    // BS DATEPICKER
    +form-light-line
    .form-group
        label.col-sm-3.control-label Datepicker
        .col-sm-9
            input(name="datepicker").form-control.form-demo-datepicker-input
    +form-light-line
    .form-group
        label.col-sm-3.control-label Datepicker inline
        .col-sm-9
            .form-demo-datepicker-inline
    // BS SELECT
    +form-light-line
    .form-group
        label.col-sm-3.control-label BS Select
        .col-sm-9
            select.form-control.selectpicker
                option(value='default') Default
                option(value='agent') Agent
                option(value='aristo') Aristo
                option(value='jeans') Jeans
    +form-light-line
    .form-group
        label.col-sm-3.control-label BS Multiselect
        .col-sm-9
            select.form-control.selectpicker(multiple='', data-selected-text-format='count')
                option Mustard
                option Ketchup
                option Relish
    +form-light-line
    .form-group
        label.col-sm-3.control-label BS Select Groups
        .col-sm-9
            select.form-control.selectpicker
                optgroup(label='Picnic', disabled='')
                    option Mustard
                    option Ketchup
                    option Relish
                optgroup(label='Camping')
                    option Tent
                    option Flashlight
                    option Toilet Paper
    +form-light-line
    .form-group
        label.col-sm-3.control-label BS Select Labels
        .col-sm-9
            select.form-control.selectpicker
                option(data-content="<span class='label label-warning'>Mustard</span>") Mustard
                option(data-content="<span class='label label-danger label-important'>Ketchup</span>") Ketchup
                option(data-content="<span class='label label-success'>Relish</span>") Relish
                option(data-content="<span class='label label-info'>Mayonnaise</span>") Mayonnaise
    +form-light-line
    .form-group
        label.col-sm-3.control-label BS Select Icons
        .col-sm-9
            select.form-control.selectpicker
                option(data-content="<i class='fa fa-bold'></i> Mustard") Mustard
                option(data-content="<i class='fa fa-github'></i> Ketchup") Ketchup
                option(data-content="<i class='fa fa-legal'></i> Relish") Relish
                option(data-content="<i class='fa fa-info'></i> Mayonnaise") Mayonnaise
    +form-light-line
    .form-group
        label.col-sm-3.control-label Max length
        .col-sm-9
            input(name="maxlen", class="form-demo-maxlength", maxlength="20", value="Type..").form-control

    +form-light-line
    .form-group
        label.col-sm-3.control-label File style
        .col-sm-9
            input(type='file')
    +form-light-line
    .form-group
        label.col-sm-3.control-label Slider
        .col-sm-9
            input.slider.slider-horizontal(type='text',data-slider-min="0",data-slider-max="20",data-slider-step="1",data-slider-value="5")
    +form-light-line
    .form-group
        label.col-sm-3.control-label Slider vertical
        .col-sm-9
            input.slider.slider-vertical(type='text',data-slider-min="0",data-slider-max="20",data-slider-step="1",data-slider-value="7",data-slider-orientation="vertical")
            input.slider.slider-vertical(type='text',data-slider-min="0",data-slider-max="20",data-slider-step="1",data-slider-value="15",data-slider-orientation="vertical")
            input.slider.slider-vertical(type='text',data-slider-min="0",data-slider-max="20",data-slider-step="1",data-slider-value="11",data-slider-orientation="vertical")

    +form-light-line
    .form-group
        .col-sm-offset-3.col-sm-9
            label
                input(id='remember',name='remember',type='checkbox')
                |  Remember me
    +form-light-line
    .form-actions
        .col-sm-offset-3.col-sm-9
            .btn-group.btn-group-sm
                button.btn.btn-success(type='submit') Sign in
                a(data-toggle="confirmation", href="#", title="Are u sure?").btn.btn-primary Confirm



block header
    +page-title("Forms", "Elements")
    +page-breadcrumbs
        +breadcrumb("Components", "/components")
        +breadcrumb("Forms")
        +breadcrumb("Elements", "/components/forms/layouts", true)


block content
    #demo-forms
    .row
        .col-md-12
            +form-box("Default", "list").form-light.form-horizontal
                +form-horizontal-demo-content
