extends ../../../layouts/default

mixin form-box(name, icon)
    .row
        .col-lg-12
            +box(name, icon)
                form&attributes(attributes)
                    block
mixin form-light-line(large)
    - large = typeof(large) == 'undefined' ? true : large
    .line.line-dashed.b-b.pull-in(class=large ? 'line-lg' : '')

mixin form-horizontal-demo-content()
    - var rnd = Math.random()
    .form-group
        label(for=rnd + "email").col-sm-3.control-label Email
        .col-sm-9
            input.form-control(id=rnd + "email",type='email', placeholder='Email', data-hint='Enter a valid email address')&attributes(attributes)
    +form-light-line
    .form-group
        label(for=rnd + "password").col-sm-3.control-label Password
        .col-sm-9
            input.form-control(id=rnd + "password",type='password', placeholder='Password', data-hint='Enter a password that is safe')&attributes(attributes)
    +form-light-line
    .form-group
        label(for=rnd + "first-name").col-sm-3.control-label First name
        .col-sm-9
            input.form-control(id=rnd + "first-name",type='text', placeholder='First name', data-hint="a")&attributes(attributes)
    +form-light-line
    .form-group
        label(for=rnd + "last-name").col-sm-3.control-label Last name
        .col-sm-9
            input.form-control(id=rnd + "last-name",type='text', placeholder='Last name')&attributes(attributes)
    +form-light-line
    .form-group
        label.col-sm-3.control-label CSS3 Checkboxes
        .col-sm-9
            .row
                .col-md-6
                    input(type="checkbox", value="None", id="checktest1" name="check", checked)
                    label(for='checktest1') Check
                    +form-light-line(false)
                    input(type="checkbox", value="None", id="checktest2" name="check", checked)
                    label(for='checktest2') Check
                    +form-light-line(false)
                    input(type="checkbox", value="None", id="checktest3" name="check", checked, disabled)
                    label(for='checktest3') Check
                .col-md-6
                    input(type="radio", value="None", id="radiotest1" name="radio[]")
                    label(for='radiotest1') First one for you
                    +form-light-line(false)
                    input(type="radio", value="None", id="radiotest2" name="radio[]")
                    label(for='radiotest2') Rather have the second for me
                    +form-light-line(false)
                    input(type="radio", value="None", id="radiotest3" name="radio[]")
                    label(for='radiotest3') Or keep the rest
    +form-light-line
    include _elements
    +form-light-line
    .form-group
        label.col-sm-3.control-label File style
        .col-sm-9
            input(type='file')
    +form-light-line
    .form-group
        label.col-sm-3.control-label Slider
        .col-sm-9
            input.slider.slider-horizontal(type='text',data-slider-min="0",data-slider-max="20",data-slider-step="1",data-slider-value="5")
    +form-light-line
    .form-group
        label.col-sm-3.control-label Slider vertical
        .col-sm-9
            input.slider.slider-vertical(type='text',data-slider-min="0",data-slider-max="20",data-slider-step="1",data-slider-value="7",data-slider-orientation="vertical")
            input.slider.slider-vertical(type='text',data-slider-min="0",data-slider-max="20",data-slider-step="1",data-slider-value="15",data-slider-orientation="vertical")
            input.slider.slider-vertical(type='text',data-slider-min="0",data-slider-max="20",data-slider-step="1",data-slider-value="11",data-slider-orientation="vertical")

    +form-light-line
    .form-group
        .col-sm-offset-3.col-sm-9
            label
                input(type='checkbox')
                |  Remember me
    +form-light-line
    .form-actions
        .col-sm-offset-3.col-sm-9
            button.btn.btn-default(type='submit') Sign in
            a(data-toggle="confirmation", href="#", title="Are u sure?").btn.btn-primary.btn-sm Confirmation popover



block header
    +page-title("Forms", "Elements")
    +page-breadcrumbs
        +breadcrumb("Components", "/components")
        +breadcrumb("Forms")
        +breadcrumb("Elements", "/components/forms/layouts", true)


block content
    #demo-forms
    .row
        .col-md-12
            +form-box("Default", "list").form-light.form-horizontal
                +form-horizontal-demo-content
