extends ../../../layouts/default

mixin form-box(name, icon)
    .row
        .col-lg-12
            +box(name, icon)
                form.show-class&attributes(attributes)
                    block
mixin form-light-line(large)
    - large = typeof(large) == 'undefined' ? true : large
    .line.line-dashed.b-b.pull-in(class=large ? 'line-lg' : '')

mixin form-demo-control(id, labelText, opts)
    - var horizontal = opts && opts.horizontal && opts.horizontal === true
    - var light = opts && opts.light && opts.light === true
    .form-group
        if horizontal
            label(for=id).col-sm-3.control-label=labelText
            .col-sm-9
                block
        else
            if labelText
                label(for=id).control-label=labelText
            block
    if light
        +form-light-line

mixin form-demo-title(opts)
    - var horizontal = opts && opts.horizontal && opts.horizontal === true
    - var light = opts && opts.light && opts.light === true
    .form-title
        if horizontal
            .col-sm-offset-3.col-sm-9.pl-n
                h4
                    block
        else
            h4
                block
    if light
        +form-light-line


mixin form-demo-controls(opts)
    - var rnd = Math.random()
    - var horizontal = opts && opts.horizontal && opts.horizontal === true
    - var light = opts && opts.light && opts.light === true
    +form-demo-title(opts) Credentials
    +form-demo-control(rnd + 'email', 'Email', opts)
        input.form-control(id=rnd + 'email', type='email', placeholder='Email', data-hint='Enter a valid email address')&attributes(attributes)
    +form-demo-control(rnd + 'password', 'Password', opts)
        input.form-control(id=rnd + "password", type='password', placeholder='Password', data-hint='Enter a password that is safe')&attributes(attributes)
    +form-demo-title(opts) Personal information
    +form-demo-control(rnd + 'first_name', 'First name', opts)
        input.form-control(id=rnd + "first_name", type='text', placeholder='First name')&attributes(attributes)
    +form-demo-control(rnd + 'last_name', 'Last name', opts)
        input.form-control(id=rnd + "last_name", type='text', placeholder='Last name', data-hint='Help block')&attributes(attributes)
    +form-demo-control(rnd + 'file', 'Avatar', opts)
        input.form-control(id=rnd + "file", type='file')&attributes(attributes)
        p.help-block Example block-level help text here.
    if horizontal
        .form-group
            .col-sm-offset-3.col-sm-9
                .checkbox
                    label
                        input(type='checkbox')
                        |  Remember me
        if light
            +form-light-line
        .form-actions
            .col-sm-offset-3.col-sm-9
                button.btn.btn-default(type='submit') Sign in
    else
        .checkbox
            label(for=rnd + "checkbox")
                input(id=rnd + "checkbox", type='checkbox')
                |  Check me out
        button.btn.btn-default(type='submit') Submit

block header
    +page-title("Forms", "Layouts")
    +page-breadcrumbs
        +breadcrumb("Components", "/components")
        +breadcrumb("Forms")
        +breadcrumb("Layouts", "/components/forms/layouts", true)


block content
    #demo-forms
        .row
            .col-md-12
                +box
                    +box-header("Layouts", "picture")
                        +tabs-nav
                            +tabs-nav-item('layouts-default').active Default
                            +tabs-nav-item('layouts-horizontal') Horizontal
                            +tabs-nav-item('layouts-bordered-horizontal') Bordered Horizontal
                            +tabs-nav-item('layouts-light-horizontal') Light Horizontal
                    +box-body
                        +tabs-content
                            +tabs-panel('layouts-default').active
                                form.show-class
                                    +form-demo-controls

                            +tabs-panel('layouts-horizontal')
                                form.show-class.form-horizontal
                                    +form-demo-controls({horizontal: true})

                            +tabs-panel('layouts-bordered-horizontal')
                                form.show-class.form-horizontal.form-bordered
                                    +form-demo-controls({horizontal: true})

                            +tabs-panel('layouts-light-horizontal')
                                form.show-class.form-light.form-horizontal
                                    +form-demo-controls({horizontal: true,light:true})
//
    .row
        .col-md-6
            +form-box("Default", "list")
                +form-demo-content(true)
        .col-md-6
            +form-box("Default material design", "list").form-material
                +form-demo-content(false).floating-label

    .row
        .col-md-6
            +form-box("Horizontal", "list").form-horizontal
                +form-horizontal-demo-content

        .col-md-6
            +form-box("Horizontal material design", "list").form-horizontal.form-material
                +form-horizontal-demo-content

    .row
        .col-md-6
            +form-box("Horizontal bordered", "list").form-horizontal.form-bordered
                +form-horizontal-demo-content

        .col-md-6
            +form-box("Horizontal", "list").form-horizontal
                .form-title
                    .col-sm-offset-3.col-sm-9
                        h4 Title
                .form-group
                    label.col-sm-3.control-label(for='inputEmail3') Email
                    .col-sm-9
                        input#inputEmail3.form-control(type='email', placeholder='Email')
                .form-group
                    label.col-sm-3.control-label(for='inputPassword3') Password
                    .col-sm-9
                        input#inputPassword3.form-control(type='password', placeholder='Password')
                .form-group
                    label.col-sm-3.control-label First name
                    .col-sm-9
                        input.form-control(type='text', placeholder='First name')
                .form-group
                    label.col-sm-3.control-label Last name
                    .col-sm-9
                        input.form-control(type='text', placeholder='Last name')
                .form-group
                    .col-sm-offset-3.col-sm-9
                        .checkbox
                            label
                                input(type='checkbox')
                                |  Remember me
                .form-group
                    .col-sm-offset-3.col-sm-9
                        button.btn.btn-default(type='submit') Sign in

    .row
        .col-md-6
            +form-box("Inline", "list").form-inline
                .form-group
                    label.sr-only(for='exampleInputEmail3') Email address
                    input#exampleInputEmail3.form-control(type='email', placeholder='Enter email')
                .form-group
                    label.sr-only(for='exampleInputPassword3') Password
                    input#exampleInputPassword3.form-control(type='password', placeholder='Password')
                .checkbox
                    label
                        input(type='checkbox')
                        |  Remember me
                button.btn.btn-default(type='submit') Sign in

        .col-md-6
            +form-box("Inline 2", "list").form-inline
                .form-group
                    label.sr-only(for='exampleInputAmount') Amount (in dollars)
                    .input-group
                        .input-group-addon $
                        input#exampleInputAmount.form-control(type='text', placeholder='Amount')
                        .input-group-addon .00
                button.btn.btn-primary(type='submit') Transfer cash

