extends ../../layouts/default

mixin demo-event(event, text)
    tr
        td: code=event
        td=text

mixin demo-api(mode, text)
    tr
        td
            a.btn.btn-xs.btn-block(href="#", data-api-action=mode)&attributes(attributes)
                | #{text}
        td: code=mode

block content
    .row
        .col-md-6
            +box("Layout API").box-table
                pre.no-border.m-n.p-xs: code.hljs.lang-js App.layout('mode')
                +table()('condensed', 'striped', 'light')#demo-api
                    tr
                        th(width="200") Example
                        th Mode
                    +demo-api('fluid', 'Fluid layout').btn-primary
                    +demo-api('boxed', 'Boxed layout').btn-primary
                    +demo-api('top_normal', 'Normal top').btn-info
                    +demo-api('top_fixed', 'Fixed top').btn-info
                    +demo-api('bottom_normal', 'Normal bottom').btn-warning
                    +demo-api('bottom_hidden', 'Hidden bottom').btn-warning
                    +demo-api('bottom_fixed', 'Fixed bottom').btn-warning
                    +demo-api('sidebar_open', 'Open sidebar').btn-danger
                    +demo-api('sidebar_close', 'Close sidebar').btn-danger
                    +demo-api('sidebar_hide', 'Hide sidebar').btn-danger
                    +demo-api('sidebar_show', 'Show sidebar').btn-danger
                    +demo-api('sidebar_left', 'Position sidebar left').btn-success
                    +demo-api('sidebar_right', 'Position sidebar right').btn-success
                    +demo-api('sidebar_normal', 'Normal sidebar').btn-primary
                    +demo-api('sidebar_fixed', 'Fixed sidebar').btn-primary
                    +demo-api('sidebar_hover', 'Hover sidebar').btn-success
                    +demo-api('sidebar_accordion', 'Accordion sidebar').btn-success
        .col-md-6
            +box("Events").box-table
                pre.no-border.m-n.p-xs
                    code.hljs.lang-js
                        | App.on('event:name', handlerFunction)
                        | App.on('event:*', handlerFunction)
                        | App.off('event:name', handlerFunction)
                        | App.emit('event:name', args)
                +table()('condensed', 'striped', 'light')#demo-events
                    tr
                        th(width="200") Event
                        th Description
                    +demo-event('state:booting', 'The application is booting')
                    +demo-event('state:prestart', 'The application is waiting to start')
                    +demo-event('state:starting', 'The application is starting')
                    +demo-event('state:started', 'The application has started')
                    +demo-event('layout:resize', 'The layout has resized')
                    +demo-event('layout:ready', 'The layout is ready')
                    +demo-event('sidebar:generate', 'The sidebar is generating')
                    +demo-event('sidebar:generated', 'The sidebar is generated')
                    +demo-event('sidebar:created', 'The sidebar is created')

block append scripts
    script.
        App.ready(function(){
            require(['jquery'], function($){
                $(function () {
                    $('#demo-api').find('a[data-api-action]').on('click', function(e){
                        e.preventDefault();
                        App.layout($(this).data('api-action'));
                    });
                });
            });
        });
