extends ../../layouts/default

mixin btn-group-demo(title, btnClass)
    - btnClass = btnClass || 'btn-info';
    h4.box-heading= title
    .btn-group&attributes(attributes)
        +a.btn(class=btnClass) First
        +a.btn(class=btnClass) Second
        +a.btn(class=btnClass) Last

mixin btn-dropdown-demo(title, split, dropup, hasBlock)
    - split = split || false;
    - dropup = dropup || false;
    - hasBlock = hasBlock || false;
    .btn-group(class= dropup === true ? "dropup" : "")
        if split
            button(type="button").btn&attributes(attributes)= title
            button.btn.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')&attributes(attributes)
                span.caret
                span.sr-only Toggle dropdown
        else
            button.btn.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')&attributes(attributes)
                | !{title}
                span.caret
        ul.dropdown-menu(role='menu')
            if hasBlock
                block
            else
                li
                    a(href='#') Action
                li
                    a(href='#') Another action
                li
                    a(href='#') Something else here
                li.divider
                li
                    a(href='#') Separated link


block header
    +page-title("Buttons", "All sorts of buttons for u")
    +page-breadcrumbs
        +breadcrumb("Buttons", false, true, true)


block content
    #exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4#exampleModalLabel.modal-title New message


                .modal-body
                    form
                        .form-group
                            label.control-label(for='recipient-name') Recipient:
                            input#recipient-name.form-control(type='text')
                        .form-group
                            label.control-label(for='message-text') Message:
                            textarea#message-text.form-control
                .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') Close
                    button.btn.btn-primary(type='button') Send message

    .row
        .col-lg-4
            +box
                +box-header("Buttons", "list", true)
                    +a(data-toggle='modal', data-target='#exampleModal').btn.btn-success Ok
                    +a.btn.btn-info Info
                    +a.btn.btn-warning Close
                +box-body(350)
                    .row.small-margin-bottom
                        .col-md-12
                            .btn-group.btn-group-justified.btn-group-xs
                                for state in site.data.theme.states
                                    - var text = capitalizeFirst(state);
                                    +a(class="btn btn-" + state)= text
                    for color in site.data.theme.colors
                        .row.small-margin-bottom
                            .col-md-12
                                .btn-group.btn-group-justified.btn-group-sm
                                    a(class="btn " + color + "-light").show-class
                                        | !{color}-light
                                    a(class="btn " + color).show-class
                                        | !{color}
                                    a(class="btn " + color + "-dark").show-class
                                        | !{color}-dark


        .col-lg-8
            +box("Button variants", "list").box-table
                table.table.table-striped.table-hover.table-bordered
                    thead
                        tr
                            td Type
                            td XS
                            td SM
                            td MD
                            td LG
                    tbody
                        tr
                            td Striped
                            td
                                +a.btn.btn-xs.orange-light.orange-dark-stripe.show-class Striped
                                +a.btn.btn-xs.teal-light.teal-dark-stripe.show-class Striped
                            td
                                +a.btn.btn-sm.red-light.red-dark-stripe.show-class Striped
                                +a.btn.btn-sm.orange-light.orange-dark-stripe.show-class Striped
                            td
                                +a.btn.blue-light.blue-dark-stripe.show-class Striped
                                +a.btn.red-light.red-dark-stripe.show-class Striped
                            td
                                +a.btn.btn-lg.green-light.green-dark-stripe.show-class Striped
                                +a.btn.btn-lg.blue-light.blue-dark-stripe.show-class Striped
                        tr
                            td Icon only
                            each size in site.data.theme.sizes
                                td
                                    +a.btn.btn-icon.red-light.show-class(class="btn-" + size)
                                        i.fa.fa-bullhorn
                                    +a.btn.btn-icon.blue-light.show-class(class="btn-" + size)
                                        i.fa.fa-list
                                    +a.btn.btn-icon.green-light.show-class(class="btn-" + size)
                                        i.fa.fa-github
                        tr
                            td With icons
                            each size in site.data.theme.sizes
                                td
                                    +a.btn.btn-primary(class="btn-" + size).show-class
                                        i.fa.fa-list
                                        |  List
                                    +a.btn.btn-success(class="btn-" + size).show-class
                                        i.fa.fa-check
                                        |  Agree

    .row
        .col-lg-12
            +box.demo-button-editor(data-editor="color,size,font-color,shape", data-editor-selector="section .btn.btn-icon", data-editor-color="grey-light", data-editor-size="btn-sm", data-editor-font-color="", data-editor-shape="")
                +box-header("Button icons showcase", "list")
                    .box-header-widgets
                        // color
                        select(data-style="blue-grey btn-xs", data-width="200px", data-header="Color", data-size="7").button-color-select
                            each color in site.data.theme.colors
                                option(class=color + "-light")= color + "-light"
                                option(class=color)= color
                                option(class=color + "-dark")= color + "-dark"

                        // font-color
                        select(data-style="blue-grey btn-xs", data-width="140px", data-header="Font color", title="Font color", data-size="7").button-font-color-select
                            option(value="") Default
                            each color in site.data.theme.colors
                                option(data-content="<span class='text-" + color + "-light'>" + color + "-light</span>", value="text-" + color + "-light")= color + "-light"
                                option(data-content="<span class='text-" + color + "'>" + color + "</span>", value="text-" + color)= color
                                option(data-content="<span class='text-" + color + "-dark'>" + color + "-dark</span>", value="text-" + color + "-dark")= color + "-dark"

                        // size
                        select(data-style="blue-grey btn-xs", data-width="80px", data-header="Size").button-size-select
                            each size in site.data.theme.sizes
                                option(value="btn-" + size)= size

                        // shape
                        select(data-style="blue-grey btn-xs", data-width="120px", data-header="Shape", title="Shape").button-shape-select
                            option(value="") Default
                            option(value="btn-rounded") Rounded
                            option(value="btn-circle") Circle

                +box-body(350)
                    .row
                        .col-md-12
                            each icon in site.data.icons
                                +a.btn.btn-sm.btn-icon.grey-light.small-margin-right.small-margin-bottom.show-class
                                    i.fa(class="fa-" + icon)

    .row
        .col-lg-7
            +box("Button grouping", "list", 350)
                .row
                    .col-md-4
                        +btn-group-demo("Default")
                        +btn-group-demo("Extra small").btn-group-xs
                        +btn-group-demo("Small").btn-group-sm
                        //+btn-group-demo("Large").btn-group-lg
                    .col-md-4
                        +btn-group-demo("Rounded").btn-group-rounded
                        +btn-group-demo("Rounded xs").btn-group-xs.btn-group-rounded
                        +btn-group-demo("Rounded sm").btn-group-sm.btn-group-rounded
                       // +btn-group-demo("Rounded lg").btn-group-lg.btn-group-rounded
                    .col-md-4
                        +btn-group-demo("Circle").btn-group-circle
                        +btn-group-demo("Circle xs").btn-group-xs.btn-group-circle
                        +btn-group-demo("Circle sm").btn-group-sm.btn-group-circle
                       // +btn-group-demo("Circle lg").btn-group-lg.btn-group-circle

        .col-md-5
            +box("Dropdown buttons", "info")
                h4.box-heading Single button dropdowns
                for state in site.data.theme.states
                    - var text = capitalizeFirst(state);
                    +btn-dropdown-demo(text)(class="btn-" + state).btn-xs

                h4.box-heading Single button dropups
                for state in site.data.theme.states
                    - var text = capitalizeFirst(state);
                    +btn-dropdown-demo(text, false, true)(class="btn-" + state).btn-xs

                h4.box-heading Split button dropdowns
                for state in site.data.theme.states
                    - var text = capitalizeFirst(state);
                    +btn-dropdown-demo(text, true)(class="btn-" + state).btn-xs

                h4.box-heading Sizes
                    +btn-dropdown-demo("xs", true).blue-dark.btn-xs
                    +btn-dropdown-demo("sm", true).blue-dark.btn-sm
                    +btn-dropdown-demo("md", true).blue-dark
                    +btn-dropdown-demo("lg", true).blue-dark.btn-lg
    .row
        .col-md-3
            +box("Badges")
                | adf
        .col-md-4
            +box("Breadcrumbs")
                | adf
