extends ../../layouts/default

mixin tab-content(name)
    p
        | Howdy, I'm #{name}.
    p
        | Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat



mixin tabber-nav(prefix)
    ul.nav.nav-tabs(role="tablist")&attributes(attributes)
        li(role="presentation").active
            a(href="##{prefix}home", aria-controls="#{prefix}home", role="tab", data-toggle="tab") Home
        li(role="presentation")
            a(href="##{prefix}profile", aria-controls="#{prefix}profile", role="tab", data-toggle="tab") Profile

mixin tabber-content(prefix, withBlock)
    - withBlock = withBlock || false;
    .tab-content&attributes(attributes)
        .tab-pane.active.fade.in(role="tabpanel", id="##{prefix}home")
            if withBlock
                block
            else
                +tab-content("home of " + prefix)
        .tab-pane.fade(role="tabpanel", id="##{prefix}profile")
            +tab-content("profile of " + prefix)

mixin tabber(prefix)
    .tabber(role="tabpanel")&attributes(attributes)
        +tabber-nav(prefix)
        +tabber-content(prefix)


mixin list-item(name, href, active)
    - href = href || '#'
    - active = active || false
    li(role="presentation", class=active ? "active" : null)
        a(href=href)=name
        block
mixin list-items()
    +list-item("Home", "#", true)
    +list-item("Item first")
    +list-item("Then this")
    +list-item("This too")

block content

    .row
        .col-md-4
            +tabber("first")

        .col-md-4
            +tabber("sec").tabber-grey

        .col-md-4
            +tabber("ttt").tabber-grey


    .row.margin-top
        .col-md-4
            +box("Tabs and nav nav-pill", "list").box-tabber
                .tabber(role="tabpanel")
                    +tabber-nav("tatt")
                    +tabber-content("tatt", true)
                        ul.nav.nav-pills.nav-stacked
                            +list-items
        .col-md-4
            +box("Tabs and nav nav-pill nav-stacked", "list").box-tabber
                .tabber(role="tabpanel").tabber-grey
                    +tabber-nav("tatt33")
                    +tabber-content("tatt33", true)
                        ul.nav.nav-pills
                            +list-items
        .col-md-4
            +box("Tabs in box", "list").box-tabber
                .tabber.tabs-bottom(role="tabpanel")
                    +tabber-content("tsdfatt")
                    +tabber-nav("tsdfatt")

    .row.margin-top
        .col-md-4
            .tabber.tabs-bottom(role="tabpanel")
                +tabber-content("sec2sec")
                +tabber-nav("sec2sec")
        .col-md-4
            .tabber.tabber-grey.tabs-bottom(role="tabpanel")
                +tabber-content("secsec")
                +tabber-nav("secsec")

        .col-md-4
            +tabber("tttff")
