extends ../../layouts/default
block header
    +page-title("Typography", "Texts and such..")
    +page-breadcrumbs
        +breadcrumb("Components", "/components")
        +breadcrumb("Typography", "/components/typography", true)

mixin heading-list
    h1&attributes(attributes) Heading 1
    h2&attributes(attributes) Heading 2
    h3&attributes(attributes) Heading 3
    h4&attributes(attributes) Heading 4
    h5&attributes(attributes) Heading 5
    h6&attributes(attributes) Heading 6

block content

    .row
        .col-md-4
            +box("Sample text with lead body").show-html
                h3.no-margin-top.show-class My awesome text
                p.lead Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec ipsum porta, iaculis dolor sed, pretium purus.
                h4.box-heading.show-class Box heading
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec ipsum porta, iaculis dolor sed, pretium purus. Sed eu turpis neque. Phasellus in laoreet ex. Cras ut ex sit amet turpis tempus molestie. Sed at ante at justo rhoncus suscipit non vitae nunc. Etiam non velit in odio rutrum consequat eu sed lacus. Mauris tellus sem, fringilla id pretium vel, egestas commodo justo.
                h4.alt.show-class Alternative H
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec ipsum porta, iaculis dolor sed, pretium purus. Sed eu turpis neque. Phasellus in laoreet ex. Cras ut ex sit amet turpis tempus molestie. Sed at ante at justo rhoncus suscipit non vitae nunc. Etiam non velit in odio rutrum consequat eu sed lacus. Mauris tellus sem, fringilla id pretium vel, egestas commodo justo.

        .col-md-4
            +box("Header combinations")
                h3.no-margin-top.box-heading.show-class Mixing texts and headers
                textarea#sfsdf
                    :code
                        .btn.btn-primary
                +a(href="#sfsdf").btn.btn-primary.codeviewer-button Codeview
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec ipsum porta, iaculis dolor sed, pretium purus.
                h4.box-heading.show-class Another text
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec ipsum porta, iaculis dolor sed, pretium purus.
                h5.box-heading.show-class Another text
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec ipsum porta, iaculis dolor sed, pretium purus.

        .col-md-4
            +box("Header combinations 2")
                h3.no-margin-top.show-class Mixing texts and headers
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec ipsum porta, iaculis dolor sed, pretium purus.
                h4 Another text
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec ipsum porta, iaculis dolor sed, pretium purus.
                h5 Another text
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec ipsum porta, iaculis dolor sed, pretium purus.



.col-md-4
            h4 "Karla" headings bold
                +heading-list.alt.bold

    .row
        .col-md-4
            h4 Headings
                +heading-list

        .col-md-4
            h4 "Karla" headings
                +heading-list.alt

        .col-md-4
            h4 "Karla" headings bold
                +heading-list.alt.bold


    .row
        .col-md-6
            h4 Text colors
            for color in site.data.theme.colors
                .row
                    .col-md-4
                        span(class="text-" + color + "-light")
                            | .text-!{color}-light
                    .col-md-4
                        span(class="text-" + color)
                            | .text-!{color}
                    .col-md-4
                        span(class="text-" + color + "-dark")
                            | .text-!{color}-dark

        .col-md-6
            h4 Link colors
            for color in site.data.theme.colors
                .row
                    .col-md-4
                        +a(class="text-" + color + "-light")
                            | .text-!{color}-light
                    .col-md-4
                        +a(class="text-" + color)
                            | .text-!{color}
                    .col-md-4
                        +a(class="text-" + color + "-dark")
                            | .text-!{color}-dark

